


.boardInfoPlanet{
display:flex

}

.propertiesInfoPlanet{
  display:flex;
  flex-direction:column
}

.containerInfoPlanet{
    background:url(https://images3.alphacoders.com/865/865820.jpg)  no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    margin:0;

  }
  hr {border: 2px solid khaki; height: 2px; background-color: darkkhaki; margin-top: 0;}
.propertie{
    display: flex;
    text-align: center;
  color: #FFFF00;
  width: 20rem;
  font-family: 'papyrus';
  font-weight: 400;
  justify-content: space-between;
    
}
.subPropertie{
    margin-right: 1rem;
}

.headerInfoPlanet{
display: flex;
justify-content: center;
align-content: center;
width: 70%;

}
.image{
  width:70vh;
  height: 50vh;
  border-radius: 20px;

}



.divider {
    display: flex;
    color: #FFFF00;
    margin-right: 1rem;
  
  font-family: 'papyrus';
  font-weight: 600;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
  }
  
  // Base line
  .line {
    align-items: center;
    
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
  }
  
      .glow {
      &:before,
      &:after {
        height: 8px;
        filter: blur(3px);
        border-radius: 5px;
      }
      
      &:before {
        background: linear-gradient(to right, rgb(255, 248, 180), rgb(251, 255, 0));
      }
      
      &:after {
        background: linear-gradient(to left, rgb(255, 248, 180), rgb(251, 255, 0));
      }
    }
  