.planetcontainer{
    background:url(https://i.imgur.com/GCJRhiA.png) no-repeat;
    background-color: white;
    margin: 0;
    position: relative;
    background-size: 100%;
  }

  
  .planet{
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
    overflow:hidden;
    box-shadow: 10px 10px 80px 0px rgba(255, 83, 3, 0.72), -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
    left:49%;
    top:50%;
    margin:-150px;
  }
  .planet .mask{
    width:100%;
    height:100%;
    position: absolute;
    box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
    border-radius:50%;
  }
  .planet .background{
    animation: translateBackground 40s infinite linear;  
    background:url(https://svs.gsfc.nasa.gov/vis/a030000/a030300/a030362/euvi_aia304_2012_carrington_print.jpg) repeat-x;
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
  }
  .planet .clouds{
    background:url(http://artem.anmedio.ru/dev/planet/clouds.png) repeat-x;
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
    animation: translateBackground 30s infinite linear;
    opacity: 0.4;
  }
  .planet .wrap{
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
    animation: rotatePlanet 150s infinite linear;  
  }
  @keyframes translateBackground{
    0%{
      background-position-x:0;
    }
    100%{
      background-position-x:-600px;
    }
  }
  @keyframes rotatePlanet{
    0%{
      transform:rotateZ(0);
    }
    100%{
      transform:rotateZ(-360deg);
    }
  }


  .planetBoard :nth-child(1)  { grid-area: plt1; }
  .planetBoard :nth-child(2)  { grid-area: plt2; }
  .planetBoard :nth-child(3)  { grid-area: plt3; }
  .planetBoard :nth-child(4)  { grid-area: plt4; }
  .planetBoard :nth-child(5)  { grid-area: plt5; }
  .planetBoard :nth-child(6)  { grid-area: plt6; }
  .planetBoard :nth-child(7)  { grid-area: plt7; }
  .planetBoard :nth-child(8)  { grid-area: plt8; }
  .planetBoard :nth-child(9)  { grid-area: plt9; }
  .planetBoard :nth-child(10) { grid-area: plt0; }



.planetBoard{
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-template-areas: 
  ". plt0 plt1 plt3 plt2 ."
  "plt11 plt5 . . plt6 plt12"
  ". plt4 plt8 plt9 plt7  ." ;
}


.left {
  grid-area: plt12;
  background-color: aliceblue;
  margin-left: 2rem;
}

.right {
  grid-area: plt11;
  background-color: red;
  margin-right: 2rem;
}


.arrow {
	position: absolute;
	top: 50%;
	width: 3vmin;
	height: 3vmin;
	background: transparent;
	border-top: 1vmin solid white;
	border-right: 1vmin solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
	
	&.left {
		left: 0;
		transform: translate3d(0,-50%,0) rotate(-135deg);
    
	}

	&.right {
    grid-area: plt11;
		right: 0;
		transform: translate3d(0,-50%,0) rotate(45deg);
	}
	
	&:hover {
		border-color: orange;
		box-shadow: 0.5vmin -0.5vmin 0 white;
	}
	
	&:before { // for better hit area
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%,-60%) rotate(45deg);
		width: 200%;
		height: 200%;
	}
}